<div class="row">
  <div class="col-2 mb-3" *ngFor="let photo of property.photos">
    <img  src="{{photo.presignedUrl}}" alt="{{photo.imageUrl}}" class="img-thumbnail p-1"
    style="display: block; width: 400px; height: 100px;">
    <div class="text-center">
      <button class="btn btn-sm" [disabled]="photo.isPrimary"
      [ngClass]='photo.isPrimary ? "btn-success active" : "btn-outline-success"'
      (click)="setPrimaryPhoto(property.id, photo)"
      >Main</button>
      <button class="btn btn-sm btn-danger" [disabled]="photo.isPrimary"
      (click)="deletePhoto(property.id, photo)"
      ><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div ng2FileDrop [uploader]="uploader" class="card bg-faded p-3 text-center col-2">
    <i class="fa fa-upload fa-2x"></i>
    Drop Photo Here
  </div>
</div>
